<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
</head>
<script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
<body>
    <h1>Welcome to your progress tracker</h1>
    <p>press add activity to get started</p>

    <div id="newActivityForm" hx-target="#activityForm" hx-swap="innerHTML">
        <button hx-get="/getActivityForm">Add Activity</button>
    </div>
    <div id="activityForm">
      <div>

      </div>  
    </div>
    

    <div>
        <h1>My Activities</h1>
        <div hx-get="/displayActivities" hx-trigger="every 1s" hx-target="this" hx-swap="innerHTML"></div>
    </div>

</body>
</html>